body {
    font-family: Arial, sans-serif;
    margin: 50px;
    background-color: #f4f7f9;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: #333;
    text-align: center;
}

h2 {
    margin-top: 40px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    color: #555;
}

.table-container {
    max-height: 300px;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #7494ec;
    color: #fff;
    text-transform: uppercase;
    position: sticky;
    top: 0;
    z-index: 1;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

/* Centered no-data message */
td.no-data {
    text-align: center;
    font-style: italic;
    color: #888;
}

button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    transition: background-color 0.3s ease;
}

.delete-btn {
    background-color: #dc3545;
    color: white;
}

.delete-btn:hover {
    background-color: #c82333;
}

.logout-btn {
    background-color: #dc3545;
    color: white;
    float: right;
}

.logout-btn:hover {
    background-color: #c82333;
}

/* Customizable Scrollbar */
.table-container::-webkit-scrollbar {
    width: 5px;
}

.table-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.table-container::-webkit-scrollbar-thumb {
    background: #7494ec;
    border-radius: 10px;
}

.table-container::-webkit-scrollbar-thumb:hover {
    background: #5b7acf;
    cursor: pointer;
}